<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Opetussovellus</title>
    </head>
    <body>
        <h1>Poista tehtävä?</h1>
        <p>Haluatko varmasti poistaa kurssin <b>{{ course_name }}</b> tehtävän
        <b>{{ task_question }}</b> ? </p><br>

        <form action="/deleted/{{ course_id }}/{{ task_id }}" method="POST">
            <input type="radio" name="no_yes" value="no" checked>Ei</input><br>
            <input type="radio" name="no_yes" value="yes">Kyllä</input><br>

            <input type="submit" value="Vahvista"></input>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </body>
</html>
