<!DOCTYPE html>
<html>
    <head>
        <title>Opetussovellus</title>
    </head>
    <body>
        {% if session.username %}
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <hr>
        {% for task in Tasks %}
        {{ task.question }}<br>
        <a href="/task/{{ task.id }}"> Vastaa</a>
        <hr>
        {% endfor %}
            {% if session.teacher %}
            <a href="/newcourse">Luo uusi kurssi</a><br>
            <a href="/newtask">Luo uusi tehtävä</a><br>
            {% endif %}
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <form action="/login" method="POST">
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
        </form>
        <p>Uusi käyttäjä?
        <a href="/register">Rekisteröidy</a></p>
        {% endif %}
    </body>
</html>
