<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Opetussovellus</title>
    </head>
    <body>
        <h1>Tervetuloa</h1>
        {% if session.username %}
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <hr>
        <h2>Käynnissä olevat kurssit:</h2>
        {% for course in courses %}
        {{ course.name }}<br>
        <a href="/coursepage/{{ course.id }}">Kurssisivulle</a>
        <hr>
        {% endfor %}
            {% if session.teacher %}
            <a href="/newcourse">Luo uusi kurssi</a><br>
            {% endif %}
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <form action="/login" method="POST">
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
        </form>
        <p>Uusi käyttäjä?
        <a href="/register">Rekisteröidy</a></p>
        {% endif %}
    </body>
</html>
