<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Opetussovellus</title>
    </head>
    <body>
        <h1>Luo uusi kurssi</h1>
        <form action="/newcourse" method="POST">
            <p>Kurssin nimi:<br>
            <input type="text" name="name"></p>
            <input type="submit" value="Luo kurssi">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        <hr>
        <a href="/">Etusivulle</a>
    </body>
</html>
