<!DOCTYPE html>
<html>
    <head>
        <title>Opetussovellus</title>
    </head>
    <body>
        <form action="/create" method="POST">
            <p>Kysymys:<br>
            <input type="text" name="question"></p>
            <p>Vaihtoehto 1:<br>
            <input type="text" name="choice"><br>
            <input type="radio" name="correct">Oikea vastaus
            </p>
            <p>Vaihtoehto 2:<br>
            <input type="text" name="choice"><br>
            <input type="radio" name="correct">Oikea vastaus
            </p>
            <p>Vaihtoehto 3:<br>
            <input type="text" name="choice"><br>
            <input type="radio" name="correct">Oikea vastaus
            </p>
            <p>Vaihtoehto 4:<br>
            <input type="text" name="choice"><br>
            <input type="radio" name="correct">Oikea vastaus
            </p>
            <input type="submit" value="Luo tehtävä">
        </form>
    </body>
</html>
