<!DOCTYPE html>
<html>
    <head>
        <title>Opetussovellus</title>
        <script src="/static/check_choice.js"></script>
    </head>
    <body>
        <h1>{{ course_name }}</h1>
        <form name="f1" action="/create" method="POST">
            <p>Kysymys:<br>
            <input type="text" name="question"></p>

            <p>Vaihtoehto 1:<br>
            <input type="text" name="choice"><br>
            <input type="radio" name="correct" value=0>Oikea vastaus
            </p>
            <p>Vaihtoehto 2:<br>
            <input type="text" name="choice"><br>
            <input type="radio" name="correct" value=1>Oikea vastaus
            </p>
            <p>Vaihtoehto 3:<br>
            <input type="text" name="choice"><br>
            <input type="radio" name="correct" value=2>Oikea vastaus
            </p>
            <p>Vaihtoehto 4:<br>
            <input type="text" name="choice"><br>
            <input type="radio" name="correct" value=3>Oikea vastaus
            </p>

            <button type="button"
                    onclick="check_choice(
                        'f1', 'correct', 'Oikea vastaus puuttuu')">
                Luo tehtävä
            </button>

            <input type="hidden" name="course_id" value={{ course_id }}>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        <hr>
        <a href="/coursepage/{{  course_id  }}">Kurssisivulle</a>
        <hr>
        <a href="/">Etusivulle</a>
    </body>
</html>
