<!DOCTYPE html>
<html>
    <head>
        <title>Opetussovellus</title>
    </head>
    <body>
        <form action="/registration", method="POST">
        <p>Tunnus:<br>                                                      
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password1"></p>
        <p>Syötä salasana uudelleen:<br>
        <input type="password" name="password2"></p>
        <input type="checkbox" name="teacher">Olen opettaja.
        <input type="submit" value="Rekisteröidy">
        </form>
    </body>
</html>

